<% provide :title, "About" %>
<h1><%= t ".about" %></h1>
<p>
  The <a href="http://www.railstutorial.org/"><em><%= t ".tutorial" %></em></a> is a
  <a href="http://www.railstutorial.org/book"><%= t ".book" %></a> and
  <a href="http://screencasts.railstutorial.org/"><%= t ".scrcast" %></a>
  <%= t ".toteach" %>
  <a href="http://rubyonrails.org/"><%= t ".rails" %></a>.
  <%= t ".sample" %>
</p>
